<!-- pagina de siempre que hice -->
<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include("partials/head") %>

</head>
<body>
    
    <header id="top">

        <%- include("partials/header") %>

    </header>


    <section id="cta">

        <%- include("partials/cta") %>

    </section>
    
<main>

    <section id="pelis">

        <%- include("partials/pelisHome") %>

    </section>

</main>

    <footer>

        <%- include("partials/footer") %>

    </footer>
</body>
</html>